@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 450px){
  .card-item{
    width: 50% !important;
  }

  .flag-name, .information{
    width: 100% !important;
  }

  .information{
    margin-top: 10px;
  }

  .card-img{
    width: 70% !important;
  }
}

.card-item{
  transition: 0.5s;
}

.card-item:hover{
  transform: scale(1.02)
}